(common) {
    reverse_proxy p8:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
    
    log {
        output stderr
        format console
        level DEBUG
    }
}

yebot.fr {
    import common
}

www.yebot.fr {
    redir https://yebot.fr{uri} permanent
}
